[submodule "spirometervr.github.io"]
	path = spirometervr.github.io
	url = https://github.com/SpirometerVR/spirometervr.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/SpirometerVR/spirometervr.github.io.git
	branch = master
